.container {
<<<<<<< HEAD
    background-color: #000;
    min-height: 87vh;
    color: #fff;
    padding: 20px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 15px;
    border: none;
    color: #000;
    text-align: left;
    border-radius: 5px;
  }
  
  .radio {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .optionContent {
    display: flex;
    flex-direction: column;
  }
  
  .optionContent h3 {
    margin: 0;
    font-size: 15px;
    color: #fff;
  }
  
  .optionContent p {
    margin: 5px 0 0;
    font-size: 12px;
    color: #aaa;
  }
=======
  background-color: #000;
  min-height: 100vh;
  color: #fff;
  padding: 20px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 15px;
  border: none;
  color: #000;
  text-align: left;
  border-radius: 5px;
}

.radio {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 15px;
}

.optionContent {
  display: flex;
  flex-direction: column;
}

.optionContent h3 {
  margin: 0;
  font-size: 15px;
  color: #fff;
}

.optionContent p {
  margin: 5px 0 0;
  font-size: 12px;
  color: #aaa;
}

.backButton{
  width: 53px;
  margin-bottom: .5rem;
  cursor: pointer;
  background-color: black;
  border: none;
  position: relative;
  right: 1rem;
}

.header{
  display: flex;
  align-items: baseline;
}
>>>>>>> 97c15e4d10188e3a963102b5b4f1d248de79666e
