/* LoginForm.module.css */


.container {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  }
  
  .formContainer {
    max-width: 28rem;
    width: 100%;

    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 3rem;
    margin: 0 auto;
  }
  
  .title {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 800;
    color: #4b5563;
  }
  
  .error {
    background-color: #fef2f2;
    color: #e11d48;
    padding: 0.75rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    margin-top: .5rem;
  }
  
  .form {
    margin-top: 2rem;
  }
  
  .formGroup {
    margin-bottom: 1rem;
  }
  
  .label {
    font-size: 0.875rem;
    font-weight: 500;
    color: black;
  }
  
  .inputWrapper {
    position: relative;
  }
  
  .input {
    width: 87%;
    padding-left: 3rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    font-size: 1rem;
    color: #4b5563;
    background-color: white;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    color: #000;
  }
  
  .eyeIcon {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    color: #d1d5db;
  }
  
  .button {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #e11d48;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #be123c;
  }
  
  .button:disabled {
    background-color: #e5e7eb;
    cursor: not-allowed;
  }
  
  .rememberMeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .checkbox {
    width: 1rem;
    height: 1rem;
  }
  
  .forgotPasswordLink {
    font-size: 0.875rem;
    color: #e11d48;
  }
  
  .bottomLink {
    text-align: center;
  }
  
  .linkText {
    font-size: 0.875rem;
    color: #4b5563;
  }
  
  .socialButtonsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .socialButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    background-color: white;
    color: #4b5563;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 1rem;
  }
  
  .socialButton:hover {
    background-color: #f9fafb;
  }
  
  .googleIcon {
    margin-right: 0.5rem;
  }
  
  .instagramIcon {
    margin-right: 0.5rem;
  }
  

  .arrowBtn{
    border: none;
    background: none;
    cursor: pointer;
  }

  .svg{
    height: 20px;
    width: 20px;
  }

  .inputField{
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }