.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  border-bottom: 2px solid black;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.createLinkSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.createLinkHeader {
  font-size: 22px;
  font-weight: 700;
  /* margin-bottom: 12px; */
  color: #333;
}

.createLinkSubheader {
  font-size: 14px;
  color: #666;
  /* margin-bottom: 24px; */
}

.inputWrapper {
  position: relative;
  margin-bottom: 10px;
}

.linkIconContainer {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #ff0055;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkIcon {
  color: white;
}

.input {
  width: 100%;
  padding: 16px 16px 16px 70px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.input::placeholder {
  color: #999;
}

.createButton {
  background-color: #ff0055;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
}



.bestPracticesSection {
  margin-top: 10px;
  padding: 0 16px;
}

.bestPracticesHeader {
  font-size: 22px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.practiceItem {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}

.bulletPoint {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 16px;
  flex-shrink: 0;
}

.practiceContent {
  flex: 1;
}

.practiceTitle {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  /* margin-bottom: 24px; */
  color: #333;
  font-family: sans-serif;
}

.exampleContainer {
  display: flex;
  align-items: center;
  /* margin-bottom: 16px; */
  margin-left: 0;
}

.circle {
  width: 10px;
  height: 10px;
  border: 1.5px solid #999;
  border-radius: 50%;
  margin-right: 16px;
  background-color: transparent;
}

.rightText {
  color: #4caf50;
  font-weight: 600;
  margin-right: 8px;
  font-size: 18px;
}

.wrongText {
  color: #e74c3c;
  font-weight: 600;
  margin-right: 8px;
  font-size: 18px;
}

.tipText {
  margin-top: 24px;
  font-size: 18px;
  color: #333;
  margin-left: 0;
  font-family: sans-serif;
}

