.container {
    min-height: 85vh;
    color: #000;
    background-color: black;
    padding: 20px;
    width: 91%;
    max-width: 450px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    }
    
    .videoPreview {
      width: 98.3%;
      height: 300px;
      background-color: #333;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 5px;
    }
    
    .video {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    
    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    .username {
      font-size: 18px;
      font-weight: bold;
    }
    
    .productSection {
      display: flex;
      gap: 10px;
    }
    
    .dropdown {
      flex: 1;
    }
    
    .dropdown input {
      width: 95%;
      padding: 10px;
      background-color: #333;
      border: none;
      color: #fff;
      border-radius: 5px;
    }
    
    .optionButton {
      background-color: #333;
      padding: 10px;
      display: flex;
      gap: 10px;
      text-align: left;
      border: none;
      color: #fff;
      border-radius: 5px;
    }
    
    .doneButton {
      background-color: #ff0055;
      color: #fff;
      padding: 10px;
      width: 25%;
      border: none;
      align-self: anchor-center;
      font-weight: bold;
      border-radius: 5px;
    }