.page {
    min-height: 90vh;
    background-color: #ff0055;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagesvg {
    width: 16px;
    height: 16px;
    color: #fff;
  }