
.section {
    margin-bottom: 2rem;
  }
  
  .heading {
    margin-block: 1rem;
    font-size: 1.25rem;
    padding-left: 1rem;
    color: #E61f93;
  }
  
  .container {
    background-color: #ff0055;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-inline: .5rem;
    border: 1px solid blue;
  }
  
  .text {
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .link {
    color: #fff;
  }
  
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    border: 1px dashed #fff;
    padding: 0.75rem;
  }
  
  .linkText {
    font-size: 0.875rem;
    color: #ffffff
  }
  
  .button {
    border-radius: 9999px;
    padding: 0.5rem;
    transition: background-color 0.3s;
    border: none;
  }
  
  .button:hover {
    background-color: #fff0f0;
    
  }
  
  .icon {
    height: 1.25rem;
    width: 1.25rem;
  }
  
  .iconCard{
    display: flex;
    gap: .3rem;
  }